body {
  margin: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  background-color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1em;
}

a {
  color: #007bff;
  background-color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #000000;
  background-color: #fff;
}